# Python
__pycache__/
*.py[cod]
*.env
.venv/
# local data
*.sqlite3
# VSCode
.vscode/

# keep index.faiss and sources.json under version control
!knowledge_base/index.faiss
!knowledge_base/sources.json
